  
$primary-text-color: #212121;
$activ-text-color: #2196F3;
$secondary-text-colr: #757575;
$secondary-bg-color: #F5F4FA;
$third-bg-color: #2F303A;
$border-color: #AFB1B8;
$time-functiom: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$primary-bg-color: #fff;