.footer {
  background-color: $third-bg-color;
  height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
  @include for-size(desktop-only) {
    height: 100%;
  }

 .header-link {
    color: #ffffff;
    @include for-size(mobile-only) {
      display: flex;
      justify-content: center;
    }
  }
}

.footer-address > span {
  color: #ffffff;
}

@include for-size (mobile-only) {
  .sn-links {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    position: relative;
  }

  .sn-links {
    position: absolute;
    top: 0;
    right: 89px;
  }

  .contact-info {
    margin-left: 61px;
    margin-bottom: 60px;
  }

  .footer-input {
    margin-left: 151px;
  }
}


@include for-size(desktop){
  .footer .container {
    display: flex;
  }

  .contact-info {
    margin-right: 70px;
  }

  .sn-links {
    margin-top: 12px;
    margin-right: 93px;
    }
}  

  
  
// }

.join-us {
font-weight: bold;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
color: #fff;
margin-bottom: 20px;
margin-top: 0;
display: block;

  @include for-size(desktop-only) {
    text-align: center;
  }
}





.footer .sn-icon {
  .item {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    
    transition: $time-functiom;
  }
  
  .logo {
    fill: #fff;
  }

 .item:hover, 
 .item:focus {
    background-color: $activ-text-color;
  }
}

.footer-address .item + .item {
  margin-top: 9px;
}

.footer-address {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  
  @include for-size(mobile-only) {
    align-items: center;
  }

  a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }
}

.footer-input {
  width: 358px;
  height: 50px;
  padding: 0;
  border: 0;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $third-bg-color;
  color: #ffffff;

  @include for-size(desktop-only) {
    max-width: 450px;
    width: 100%;
  }  

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer-form {
  margin-top: 12px;

  .button {
    width: 200px;
    height: 50px;
    margin-left: 12px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
      @include for-size(desktop-only){
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 10px;
      } 
  }

}  

.footer-form .button:after {
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/icons/icon-send.svg);
  margin-left: 10px;
}