.hero {
  text-align: center;
  
  
  
  background-color: $third-bg-color;
  
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;

  @include for-size(mobile-only) {
  padding-top: 118px;
    margin-bottom: 64px;
    height: 400px;
    background-image: linear-gradient( 
      to right,
   rgba(47, 48, 58, 0.4), 
   rgba(47, 48, 58, 0.4)
   ), 
   url(../images/mobile/header1x.jpg);

   @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    background-image: linear-gradient( 
      to right,
   rgba(47, 48, 58, 0.4), 
   rgba(47, 48, 58, 0.4)
   ), 
   url(../images/mobile/header2x.jpg);
  }
  }

  @include for-size(tablet) {
    padding-top: 118px;
    margin-bottom: 60px;
    height: 400px;
    background-image: linear-gradient( 
      to right,
   rgba(47, 48, 58, 0.4), 
   rgba(47, 48, 58, 0.4)
   ), 
   url(../images/tablet/header1x.jpg);

   @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    background-image: linear-gradient( 
      to right,
   rgba(47, 48, 58, 0.4), 
   rgba(47, 48, 58, 0.4)
   ), 
   url(../images/tablet/header2x.jpg);
  }
  }

  @include for-size(desktop) {
    padding-bottom: 200px;
  padding-top: 200px;
    height: 600px;
    margin-bottom: 94px;
    background-image: linear-gradient( 
      to right,
   rgba(47, 48, 58, 0.4), 
   rgba(47, 48, 58, 0.4)
   ), 
   url(../images/desktop/header1x.jpg);

   @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    background-image: linear-gradient( 
      to right,
   rgba(47, 48, 58, 0.4), 
   rgba(47, 48, 58, 0.4)
   ), 
   url(../images/desktop/header2x.jpg);
  }
  }
}


.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;

  @include for-size(desktop-only) {
    font-size: 26px;
  }
}



.hero button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
}